:root {
  $primary-color: #072ac8;
}

@font-face {
  font-family: "Grandstander", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Grandstander:wght@100;200;300;400;500;600;700;800;900&display=swap");
}

@font-face {
  font-family: "Risque", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Risque&display=swap");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:hover {
    background: black;
  }
  &:focus,
  &:active {
    outline: 0;
    background: gray;
  }
}

.background {
  height: auto;
  width: 115%;
  position: fixed;
  padding-bottom: 100%;
  background-image: url("./assets/Splash_Screen/Background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .logo {
    display: flex;
    width: 60%;
    margin-left: 15%;
    padding-top: 20%;
  }
}

.loadingContainer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
  animation-name: loadingContainer;
  animation-duration: 3s;
  animation-direction: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.poolBall {
  padding: 15px;
  height: 15%;
  width: 15%;
  animation-name: poolballSpin;
  animation-duration: 3s;
  animation-direction: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes poolballSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingContainer {
  0% {
    transform: translate(-50%);
  }
  100% {
    transform: translate(100%);
  }
}

.magic-ball-active {
  animation: shake 0.12s;
  animation-iteration-count: 25;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (min-width: 550px) {
  .background {
    height: auto;
    max-width: 100%;
    margin: 0;
    padding-bottom: 15%;
    background-image: url("./assets/Splash_Screen/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .logo {
      display: flex;
      width: 30%;
      margin-left: 30%;
      padding-top: 10%;
    }
  }

  .loadingContainer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
    animation-name: loadingContainer;
    animation-duration: 3s;
    animation-direction: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 20;
  }

  .poolBall {
    padding: 10px;
    height: 10%;
    width: 6%;
    animation-name: poolballSpin;
    animation-duration: 3s;
    animation-direction: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 20;
  }

  @keyframes poolballSpin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loadingContainer {
    0% {
      transform: translate(-50%);
    }
    100% {
      transform: translate(100%);
    }
  }
}

.magic-ball-active {
  animation: shake 0.12s;
  animation-iteration-count: 25;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
